# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.*.swp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Gopath
/vendor

# VS Code
.history

# GoLand
.idea

# Protobuf generated
/types/zb/Zb.cs
/types/zb/zb.pb.go
/types/oracle/oracle.pb.go

# App specific
/app.db
/chaindata
/contracts
/bin
protoc-gen-gogo
genesis.json
loom
replays/*
!replays/.gitkeep
tools/replay_logger/replays/*
oracle/oracle
