# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.*.swp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Gopath
/vendor

# VS Code
.history

# GoLand
.idea

# Protobuf generated
/types/zb/*.cs
/types/zb/*.go
/library/pbgraphserialization/proto/pbgraphserialization/*.cs
/library/pbgraphserialization/proto/pbgraphserialization/*.go
/library/pbgraphserialization/proto/test_pbgraphserialization/*.cs
/library/pbgraphserialization/proto/test_pbgraphserialization/*.go

#pbgraphserialization-gen generated
/battleground/game/types_serialization.go

# App specific
/app.db
/chaindata
/contracts
/bin
protoc-gen-gogo
genesis.json
loom
replays/*
!replays/.gitkeep
tools/replay_logger/replays/*
replay/*