# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.*.swp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Gopath
/vendor

# VS Code
.history

# GoLand
.idea

# Protobuf generated
/types/zb/zb_calls/ZbCalls.cs
/types/zb/zb_calls/zb_calls.pb.go
/types/zb/zb_data/ZbData.cs
/types/zb/zb_data/zb_data.pb.go
/types/zb/zb_enums/ZbEnums.cs
/types/zb/zb_enums/zb_enums.pb.go
/types/zb/zb_custombase/ZbCustombase.cs
/types/zb/zb_custombase/zb_custombase.pb.go
/types/nullable/nullable_pb/nullable.pb.go
/types/nullable/nullable_pb/Nullable.cs
/types/nullable/nullable_test_pb/nullable_test.pb.go
/types/oracle/oracle.pb.go

# App specific
/app.db
/evm.db
/receipts_db
/chaindata
/contracts

*.log
/bin
protoc-gen-gogo
abigen
genesis.json
loom
replays/*
!replays/.gitkeep
tools/replay_logger/replays/*
dev-scripts/config.toml
dev-scripts/purchaseGatewayPrivateKeyHex.txt
