[[TestCases]]
  RunCmd = "/bin/echo "
  Delay = 10000

############ Create accounts ############

[[TestCases]]
  RunCmd = "zb-cli create_account -k {{index $.AccountPrivKeyPathList 0}} -u player-1 -v v1"
  Condition = "contains"
  Expected = ["created successfully"]

[[TestCases]]
  RunCmd = "zb-cli get_account -k {{index $.AccountPrivKeyPathList 0}} -u player-1"
  All = true
  Condition = "contains"
  Expected = ["player-1"]

[[TestCases]]
  RunCmd = "zb-cli create_account -k {{index $.AccountPrivKeyPathList 1}} -u player-2 -v v1"
  Condition = "contains"
  Expected = ["created successfully"]

[[TestCases]]
  RunCmd = "zb-cli get_account -k {{index $.AccountPrivKeyPathList 1}} -u player-2"
  All = true
  Condition = "contains"
  Expected = ["player-2"]

############ Register for match ############

[[TestCases]]
  RunCmd = "zb-cli register_player_pool -k {{index $.AccountPrivKeyPathList 0}} -u player-1 -d 1 -v v1 --enableDebugCheats --randomSeed 1 -b {{BackendLogicEnabled}}"
  Condition = "contains"
  Expected = ["Registered player player-1 to pool"]

[[TestCases]]
  RunCmd = "zb-cli register_player_pool -k {{index $.AccountPrivKeyPathList 1}} -u player-2 -d 1 -v v1 --enableDebugCheats --randomSeed 1 --forceFirstTurnUserId player-2 -b {{BackendLogicEnabled}}"
  Condition = "contains"
  Expected = ["Registered player player-2 to pool"]

############ Play ############

[[TestCases]]
  RunCmd = "zb-cli find_match -k {{index $.AccountPrivKeyPathList 0}} -u player-1"
  Condition = "contains"
  Expected = ["MatchID: 1", "Status: Matching"]

[[TestCases]]
  RunCmd = "zb-cli find_match -k {{index $.AccountPrivKeyPathList 1}} -u player-2"
  Condition = "contains"
  Expected = ["MatchID: 1", "Status: Matching"]

[[TestCases]]
  RunCmd = "zb-cli accept_match -k {{index $.AccountPrivKeyPathList 0}} -u player-1 -m 1"
  Condition = "contains"
  Expected = ["MatchID: 1", "Status: Matching"]

[[TestCases]]
  RunCmd = "zb-cli accept_match -k {{index $.AccountPrivKeyPathList 1}} -u player-2 -m 1"
  Condition = "contains"
  Expected = ["MatchID: 1", "Status: Started"]

[[TestCases]]
  RunCmd = "checkapphash"

[[TestCases]]
  RunCmd = "zb-cli get_match -k {{index $.AccountPrivKeyPathList 0}} -m 1"
  Condition = "contains"
  All = true
  Expected = ["MatchID: 1", "Status: Started", "Player1: player-1", "Player2: player-2"]

[[TestCases]]
  RunCmd = "zb-cli get_game_state -k {{index $.AccountPrivKeyPathList 0}} -m 1"
  Condition = "contains"
  All = true
  Expected = ["Player1: player-1", "Player2: player-2"]

[[TestCases]]
  RunCmd = "zb-cli get_game_state -k {{index $.AccountPrivKeyPathList 0}} -m 1"
  Condition = "contains"
  All = true
  Expected = ["Player1: player-1", "Player2: player-2"]

# Mulligam
[[TestCases]]
  RunCmd = "zb-cli send_action_mulligan -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2 -i 3"
  Condition = "contains"
  Expected = ["sent action mulligan successfully"]

# Get some goo so we can play cards later
# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]
# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]
# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]
# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]
# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]
# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]
# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]
# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_cardplay -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-2 -i 4"
  Condition = "contains"
  Expected = ["sent action cardplay successfully"]
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 1}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_cardplay -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1 -i 32"
  Condition = "contains"
  Expected = ["sent action cardplay successfully"]
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_cardattack -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-2 --attackerID 4 --targetID 32"
  Condition = "contains"
  Expected = ["sent action cardattack successfully"]
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-2"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-1
[[TestCases]]
  RunCmd = "zb-cli send_action_cardplay -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1 -i 33"
  Condition = "contains"
  Iterations = 1
  Expected = ["sent action cardplay successfully"]
[[TestCases]]
  RunCmd = "zb-cli send_action_endturn -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action endturn successfully"]

# -------player-2
[[TestCases]]
  RunCmd = "zb-cli send_action_cardplay -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-2 -i 5"
  Condition = "contains"
  Iterations = 1
  Expected = ["sent action cardplay successfully"]

# -------game state
[[TestCases]]
  RunCmd = "zb-cli get_game_state -k {{index $.AccountPrivKeyPathList 0}} -m 1"
  Condition = "contains"
  All = true
  Expected = ["Player1: player-1", "Player2: player-2"]

# -------player-1 leave match
[[TestCases]]
  RunCmd = "zb-cli send_action_leavematch -k {{index $.AccountPrivKeyPathList 0}} -m 1 -u player-1"
  Condition = "contains"
  Expected = ["sent action leavematch successfully"]

# -------game state
[[TestCases]]
  RunCmd = "zb-cli get_game_state -k {{index $.AccountPrivKeyPathList 0}} -m 1"
  Condition = "contains"
  All = true
  Expected = ["Is ended: true", "Winner: player-2"]
