[[TestCases]]
  RunCmd = "/bin/echo "
  Delay = 10000

[[TestCases]]
  RunCmd = "zb-cli create_account -k {{index $.AccountPrivKeyPathList 0}} -u loom -v v1"
  Condition = "contains"
  Expected = ["created successfully"]

[[TestCases]]
  RunCmd = "zb-cli get_account -k {{index $.AccountPrivKeyPathList 0}} -u loom"
  All = true
  Condition = "contains"
  Expected = ["loom"]

[[TestCases]]
  RunCmd = "zb-cli list_decks -k {{index $.AccountPrivKeyPathList 0}} -u loom -v v1"
  All = true
  Condition = "contains"
  Expected = ["deck size: 1"]

[[TestCases]]
  RunCmd = "zb-cli create_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom -v v1 -d '{\"overlord_id\":1, \"name\": \"NewDeck1\", \"cards\": [ {\"cardKey\": {\"mouldId\": 10}, \"amount\": 2}, {\"cardKey\": {\"mouldId\": 11}, \"amount\": 1} ]}'"
  Condition = "contains"
  Expected = ["deck created successfully"]

[[TestCases]]
  RunCmd = "zb-cli list_decks -k {{index $.AccountPrivKeyPathList 0}} -u loom -v v1"
  All = true
  Condition = "contains"
  Expected = ["deck size: 2", "Default", "NewDeck1"]

[[TestCases]]
  RunCmd = "zb-cli get_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom --deckId 0 -v v1"
  All = true
  Condition = "contains"
  Expected = ["not found"]

[[TestCases]]
  RunCmd = "zb-cli get_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom --deckId 1 -v v1"
  All = true
  Condition = "contains"
  Expected = ["Default"]

[[TestCases]]
  RunCmd = "zb-cli get_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom --deckId 2 -v v1"
  All = true
  Condition = "contains"
  Expected = ["NewDeck1"]

[[TestCases]]
  RunCmd = "zb-cli edit_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom -v v1 -d '{\"id\": 2, \"overlord_id\":2, \"name\": \"AwesomeName\", \"cards\": [ {\"cardKey\": {\"mouldId\": 10}, \"amount\": 2}, {\"cardKey\": {\"mouldId\": 11}, \"amount\": 1} ]}'"
  Condition = "contains"
  Expected = ["deck edited successfully"]

[[TestCases]]
  RunCmd = "zb-cli delete_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom --deckId 1 -v v1"
  Condition = "contains"
  Expected = ["deck deleted successfully"]

[[TestCases]]
  RunCmd = "zb-cli delete_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom --deckId 2 -v v1"
  Condition = "contains"
  Expected = ["deck deleted successfully"]

[[TestCases]]
  RunCmd = "checkapphash"

[[TestCases]]
  RunCmd = "zb-cli list_decks -k {{index $.AccountPrivKeyPathList 0}} -u loom -v v1"
  All = true
  Condition = "contains"
  Expected = ["deck size: 0"]

[[TestCases]]
  RunCmd = "zb-cli create_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom -v v1 -d '{\"overlord_id\":1, \"name\": \"NewDeck3\", \"cards\": [ {\"cardKey\": {\"mouldId\": 10}, \"amount\": 2}, {\"cardKey\": {\"mouldId\": 11}, \"amount\": 1} ]}'"
  Condition = "contains"
  Expected = ["deck created successfully"]

[[TestCases]]
  RunCmd = "checkapphash"

[[TestCases]]
  RunCmd = "zb-cli get_deck -k {{index $.AccountPrivKeyPathList 0}} -u loom --deckId 1 -v v1"
  All = true
  Condition = "contains"
  Expected = ["NewDeck3"]